.btn {
    padding: 6px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: var(--bfw);
    color: var(--black);
}

.btn:hover {
    background-color: var(--green);
    color: var(--white)

}

.reset-button {
    background-color: var(--white);
    border: 1px solid var(--green);
}


.save-button {
    background-color: var(--white);
    border: 1px solid var(--green);
    margin-left: 5px;
}
