.personal_details_form {
  display: flex;
  justify-content: flex-start;
  margin: 20px 40px ;

  .image-uploads-section {
    margin-left: 30px;
  }

  .picture_upload {
    margin-left: 50px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid var(--green);
    }
  }

  .uploads-wrapper {
    color: var(--sm-text-color);
    display: flex;
    // font-size: var(--small-fs);
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
  }

  .upload-items {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 5px;
    }
  }

  .upload-items:hover {
    color: var(--black);
  }

  .upload-icon-wrapper {
    // padding: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upload-buttons {
   
    // padding: 5px;
  }

  .upload-buttons:hover {
    // background-color: var(--black);
    color: var(--white);
  }

  .upload-second {
    margin-left: 10px;
  }

  .gender-selection-wrapper {
    margin-top: 40px;
    margin-left: 10px;

   .gender {
        color: var(--black);
        font-size: var(--body-fs-s);
        color: var(--black);
        font-weight: var(--nfw);
    }
    

    input[type="radio"]:checked::before {
        background-color: red;
    }

    input {
      width: 20px;
      height: 20px;
    }

    .gender-select {
      display: flex;
      justify-content: space-start;
      align-items: center;

      label {
        margin-left: 5px;
        font-size: var(--body-fs-s);
        color: var(--sm-text-color);
      }
    }

    .female-item {
      margin-left: 50px;
    }
  }

  .first_section {
    margin-left: 90px;
  }

  .second_section {
    margin-left: 30px;
  }

  .third_section {
    margin-left: 30px;
  }

  .fourth_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }

  label {
    display: block;
    font-size: var(--small-fs);
    font-weight: var(--nfw);
  }

  input {
    height: 30px;
    width: 250px;
    border: 2px solid var(--main-bg-color);
    border-radius: 5px;

    margin: 10px 0 15px 0;

    &:focus {
      border: 1px solid var(--green);
      outline: 1px solid var(--green);
    }
  }

  textarea {
    border: 2px solid var(--main-bg-color);
    border-radius: 5px;
  }
}
