:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --active: #85b89f;
    --main-bg-color: #f3f4f6;
    --light-gray: #aeaeae;
    --green: #22a45d;
    --sm-text-color: #666666;
    --border-radius: 5px;
}
  